*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.container{
 display: flex;
 justify-content: center;
}
.card{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
}
.card-image{
    background: cyan;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}
.card h2{
    padding: 10px;
    text-align: center;
}
.card p{
    padding: 10px;
}
