*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: black;
}
.navbar{
    size: large;
    justify-content: center;
    background: gray;
    text-align: center;
    padding: 30px;
}
.content ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.content li{
    list-style: none;
}
.content a{
    size: large;
    color: white;
    text-decoration: none;
}
.container{
 display: flex;
 justify-content: center;
 flex-wrap: wrap;
}
.card{
    background: white;
    width: 270px;
    height: 400px;
    margin: 10px;
}
.card-image{
    background: cyan;
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
}
.card h2{
    color:blue;
    padding: 10px;
    text-align: center;
}
.card p{
    padding: 10px;
}
@media screen and (max-width: 600px){
    .container{
        display:flex;
        flex-direction:column;
    }
    .card{
        display:flex;
        flex-direction:column;
    }
    .card-image{
        display:flex;
        flex-direction:column;
    }
    .card h2{
        display:flex;
        flex-direction:column;
    }
    .card p{
        display:flex;
flex-direction:column;
    }
}
.card:hover{
background:gray;
color:white;
cursor:pointer;
}
